#textdomain wesnoth-tdg

# using a separate unit, because this way I can remove the animations

[unit_type]
    id=Hunker Eldred
    name= _ "Crown Prince"
    race=human
    gender=male
    image="units/eldred-hunker/eldred.png"
    alignment=chaotic
    hitpoints=237
    movement,movement_type=0,smallfoot
    level,experience,advances_to=0,200,null # level 0, so he has no ZoC and so you can't farm XP
    {AMLA_DEFAULT}
    usage=fighter
    description= _"First in the line of succession, a crown prince must be ready to take command at any time should misfortune befall the king. Should the crown prince in turn fall, succession continues down the line of male heirs — only in particularly dire circumstances would a queen consort or other female heir be expected to rule.
    
From a young age, these royal heirs are trained in a variety of combat styles, honing their skill at whichever weapons they show aptitude for. One uncommon specialization involves both javelins and swordplay, each covering the weaknesses of the other."
    die_sound={SOUND_LIST:HUMAN_DIE}
    [resistance]
        blade,pierce,impact=0,0,0
        arcane,cold,fire=0,0,0
    [/resistance]
    [defense]
        castle=0 # this is the only hex this unit is ever on, outside of cutscenes
        flat=0 # in case of cataclysm
        frozen=0 # in case of blizzared
    [/defense]
    
    [abilities]
        {ABILITY_LEADERSHIP}
    [/abilities]
[/unit_type]
